# PostgreSQL Credentials
DB_USER=admin_ask_mish
DB_PASSWORD=replace_me_with_the_secure_password_ask_mish
DB_NAME=miraj_inventory
# Connection string
DATABASE_URL="postgresql://admin:password@localhost:5432/miraj_inventory?schema=public"

PORT=3000